.App {
  text-align: center;
}

.header-div {
  background-color: #282c34;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
  position: relative;
}
.login-div{
  position: absolute;
  left: 1210px;
  bottom: 5px;
}
.container-div {
  width: 1400px;
  height: 1000px;
  text-align: left;
  padding-top: 50px;
  font-family: "Hannari";
  border-left: 200px solid #ccc;
}
.menu-div {
  width: 1000px;
  margin-left: 100px;
  border-bottom: 2px solid #000000;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}
.menu-p{
  font-weight: bold;
  font-size: 30px;
}
.search-div {
  float: right;
}
.content-div {
  width: 1000px;
  margin-left: 100px;
  padding-top: 5px;
}
.list-div {
  margin-top: 30px;
  text-align: left;
}
.position-div {
  position: relative;
}
.position-div input{
  width: 400px;
}
.position-div button{
  position: absolute;
  left: 350px;
  top: 3px;
}
.footer-div {
  width: 123px;
  margin: 20px auto;
}

/* Form */
.form-select {
  border-radius: 0 !important;
}
.form-control {
  border-radius: 0 !important;
}
.btn-group-sm>.btn, .btn-sm {
  border-radius: 0 !important;
}

.divTable {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.divTable .divTableCell, .divTable .divTableHead {
  border-bottom: 1px solid #bbb;
  padding: 10px 30px;
}
.divTable .divTableBody .divTableCell {
  font-size: 15px;
}
.divTable .divTableHeading .divTableHead {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

/* DivTable.size */
.divTable .checkbox{ width: 5%; }
.divTable .no{ width: 5%; }
.divTable .category{ width: 20%; }
.divTable .content{ width: 30%; text-align: left; }
.divTable .registered{ width: 15%; }
.divTable .registrationDate{ width: 20%; }
.divTable .recommend{ width: 5%; }

/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableBody { display: table-row-group;}

.modal-content {
  font-family: "Hannari";
}
.search-div .btn{
  height: 50%;
}
.write-div {
  width: 400px;
  margin: 0 auto;
  padding-top: 30px;
}
.write-div .btn-div {
  text-align: right;
  padding-top: 30px;
}

.divTable .onmouseover:hover {
  background-color:#eee;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
